@use 'Theme.scss' as theme;
#contactUsForm{
  width: 95%;
  border: .5px solid theme.$theme-text;
  box-shadow: theme.$theme-secondary;
  margin: 20px auto 0 auto;
  padding: 5vw;
}
#heading{
  font-size: 20px;
}
#bodyArea{
  min-height: 70vh;
  height: auto;
}
#contactUs{
  margin: 2.5%;

}