#contactUsForm{
  width: 95%;
  border: .5px solid black;
  box-shadow: lightgrey;
  margin: 20px auto 0 auto;
  padding: 5vw;
}
#heading{
  font-size: 20px;
}
#bodyArea{
  height: 150vh;
}
#contactUs{
  margin: 2.5%;
}