@use 'Theme.scss' as theme;
.footer {
  background-color: theme.$theme-primary;
  color: theme.$theme-background;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: auto;
  padding: 12px 0;

  a {
    color: theme.$theme-background;
    text-decoration: none;
  }
}
#icon {
  margin: 0 10px 5px 10px;
}
// .footerDiv{
//   position: fixed;
//   display: grid;
//   grid-template-rows: 20% 80%;
// }