.footer{
  background-color: #292b2c;
  color:white;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
  a{
    color:#F2EBEB;
    text-decoration: none;
  }
  margin-top: auto;
  // position: relative;
  // left: 0;
  // bottom: 0;
}
#icon{
  margin: 0 10px 20px 10px;
  // padding-bottom: 20px;
}
// .footerDiv{
//   position: fixed;
//   display: grid;
//   grid-template-rows: 20% 80%;
// }