@use 'Theme.scss' as theme;
#parent{
  margin: 3vw;
}
#contacts{
  width: 350px;
  height: 30vm;
  border: 1px solid theme.$theme-text;
  margin: 1.5vw;
}
#longText{
  width: 20vm;
  overflow:visible
}
#displayContacts{
  margin: 3vw;
}
#displayContacts:hover, #toggleButton:hover{
  background-color: darkred;
  color: theme.$theme-background;
}
#text, #longText, #textDanger, #textSuccess{
  margin: 0;
}
h1{
  margin-left: 3vw;
}
#textDanger{
  color: darkred;
}
#textSuccess{
  color: darkgreen;
}
#toggleButton{
  margin-top: 3vw;
}
#deleteX{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}
#deleteX:hover{
  background-color: theme.$theme-accent;
  border-radius: 3px;
  color: theme.$theme-text;
}
#modal{
  margin-top: 20%;

}
