#containerLeft{
  display: grid;
  grid-template-columns: 30% 68%;
  margin: 3vw;
  border: 1px black solid;
  padding: 2vw;
}
#containerRight{
  display: grid;
  grid-template-columns: 68% 30%;
  margin: 3vw;
  border: 1px black solid;
  padding: 2vw;
}
#displayImages{
  width: 25vw;
}
#rightDiv{
  padding-left: 10px;
}
