#containerLeft{
  display: grid;
  grid-template-columns: 30% 68%;
  margin: 3vw;
  border: 1px black solid;
  padding: 2vw;
  // #displayImages{
  //   height: 40%;
  // }
  #textDiv{
    margin-left: 5px;
  }
}
#containerRight{
  display: grid;
  grid-template-columns: 68% 30%;
  margin: 3vw;
  border: 1px black solid;
  padding: 2vw;
  #displayImages{
    margin-left: 15px;
  }
}
#displayImages{
  width: 100%;
  max-height: 250px; 
  max-width: 250px;
}
#rightDiv{
  padding-left: 10px;
}

