#coverPhoto{
  width: 50%;
  height: auto;
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
}
.container{
  width: 80vw;
  height: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: scroll;
  // border: 8px inset rgba(201, 201, 201, 0.851);
  padding-bottom: 20px;
}
.container2{
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: 33% 34% 33%;
}
// #instructions{
//   text-align: center;
//   margin-top: 20px;
// }
.reviews{
  justify-content: center;
  margin: 20px auto 0 auto;
  // width: 500px;
  // height: 200px;
  border: none;
  overflow: scroll;
}
#rightSide{
  position: relative;
  float: right;
}
// #review1, #review3, #review5 {
//   height:
// }