// // Current palette
// $theme-text: #171715;
// $theme-background: #e9e5d8;
// $theme-primary: #63634b;
// $theme-secondary: #85836b;
// $theme-surface: #D8C9B5;
// $theme-accent: #e41b1b;

// Legacy palette
// $theme-text: black;
// $theme-background: white;
// $theme-primary: #292b2c;
// $theme-secondary: lightgrey;
// $theme-surface: white;
// $theme-accent: red;

// Option 2
$theme-text: #171715;
$theme-background: #e9e5d8;
$theme-primary: #63634b;
$theme-secondary: #b4b89f;
$theme-surface: #D8C9B5;
$theme-accent: #e41b1b;