@media(max-width: 540px){
  #videoSection{
    margin: 0 20px;
    display: block;
  }  
  .flip-card{
    width: 300px;
    /* height: 240px; */
  }
  .flip-card-front, .flip-card-back {
    background-color: black;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    border:solid 2px;
    border-bottom-color:#ffe;
    border-left-color:#eed;
    border-right-color:#eed;
    border-top-color:#ccb;
  }
  .flip-card-front img, .flip-card-back img{
    border: none;
    width: 100%;
    max-height:100%;
    max-width:100%;
  }
  #images{
    height: 30vh;
  }
  #carouselImages{
    height: 30vh;
  }
  #caption{
    height: 7vh;
    color: white;
    font-size: 1vh;
    margin-bottom: 0.5em;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.735);
  }
  #p{
    background-color: rgba(0, 0, 0, 0.735);
  }
  #h3{
    font-size: 1.4vh;
    /* background-color: rgba(0, 0, 0, 0.735); */
  }
  .container{
    width: 375px;
    display: block;
  }
  #modalButton{
    font-size: 12px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  #modal{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
  }
  #question{
    width: 75%;
    font-size: 1em;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    text-align: center;
  }
  /* for the Services.js page */
  #containerLeft, #containerRight{
    display:flex;
    flex-wrap: wrap;
    margin: 3vw;
    border: 1px black solid;
    padding: 2vw;
  }
  #displayImages{
    width: 40%;
    margin: 10px;
  }
  #rightDiv{
    padding-left: 0;
  }
  /*About me page*/
  #containerAboutMe{
    display: grid;
    grid-template-rows: 13% 87%;
  }
  #displayImagesAboutMe{
    width: 50%;
    margin: auto 25%;
  }
  
}
@media(min-width: 540px) and ( max-width: 1065px) and (orientation: portrait){
  .container{
    width: 375px;
    display: block;
  }
  #images{
    height: 50vh;
  }
  #carouselImages{
    height: 50vh;
  }
  #caption{
    height: 5vh;
    color: black;
    font-size: 1.1vh;
  }
  #h3{
    font-size: 1.3vh;
  }
  #question{
    width: 75%;
    font-size: 1.1em;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    text-align: center;
  }
  .flip-card-front, .flip-card-back {
    color: black;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
  }
  .flip-card-front img, .flip-card-back img{
    border:solid 2px;
    border-bottom-color:#ffe;
    border-left-color:#eed;
    border-right-color:#eed;
    border-top-color:#ccb;
    width: 100%;
    max-height:100%;
    max-width:100%;
  }
  #containerAboutMe{
    display: grid;
    grid-template-columns: 30% 65%;
  }
  #displayImagesAboutMe{
    width: 70%;
    margin: auto 15%;
  }
}
@media(min-width: 540px) and ( max-width: 1065px) and (orientation: landscape){
  #images{
    height: 100vh;
  }
  #carouselImages{
    height: 100vh;
  }
  #question{
    width: 75%;
    font-size: 1.1em;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    text-align: center;
  }
  .flip-card-front, .flip-card-back {
    color: black;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
  }
  .flip-card-front img, .flip-card-back img{
    border:solid 2px;
    border-bottom-color:#ffe;
    border-left-color:#eed;
    border-right-color:#eed;
    border-top-color:#ccb;
    width: 100%;
    max-height:100%;
    max-width:100%;
  }
  #containerAboutMe{
    display: grid;
    grid-template-columns: 30% 65%;
  }
  #displayImagesAboutMe{
    width: 70%;
    margin: auto 15%;
  }
}
@media(min-width: 1065px){
  .container{
    padding-left: 10vw;
    border: 8px inset rgba(201, 201, 201, 0.851);
  }
  #caption{
    height: 10vh;
    color: black;
    font-size: 1.5vh;
  }
  #h3{
    font-size: 2vh;
  }
  #containerAboutMe{
    display: grid;
    grid-template-columns: 30% 65%;
  }
  #displayImagesAboutMe{
    width: 70%;
    margin: auto 15%;
  }
  #question{
    width: 75%;
    font-size: 1.2em;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    text-align: center;
  }
  .flip-card-front, .flip-card-back {
    color: black;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
  }
  .flip-card-front img, .flip-card-back img{
    border:solid 2px;
    border-bottom-color:#ffe;
    border-left-color:#eed;
    border-right-color:#eed;
    border-top-color:#ccb;
    width: 100%;
    max-height:100%;
    max-width:100%;
  }

  #containerLeft{
    display: grid;
    grid-template-columns: 25% 73%;
  }
  #containerRight{
    display: grid;
    grid-template-columns: 73% 25%;
  }
  #rightDiv, #display{
    display: grid;
    grid-template-rows: 45% 50%;
  }
  #displayImages{
    margin-left: auto;
    margin-right: auto;
  }
}

