@media(max-width: 540px){
  #videoSection{
    margin: 0 20px;
    display: block;
  }  
  .flip-card{
    width: 300px;
  }
  #images{
    height: 40vh;
  }
  #carouselImages{
    height: 500px;
  }
  .container{
    width: 375px;
    display: block;
  }
  /* .reviews{
    width: 280px; 
  }*/
  
}
@media(max-width: 1024px){
  .container{
    width: 375px;
    display: block;
  }
}
@media(min-width: 1065px){
  .container{
    /* width: 375px; */
    /* display: block; */
    padding-left: 10vw;
    border: 8px inset rgba(201, 201, 201, 0.851);
  }
}