@media(max-width: 540px){
  #videoSection{
    margin: 0 20px;
    display: block;
  }  
  .flip-card{
    width: 300px;
  }
  #images{
    height: 30vh;
  }
  #carouselImages{
    height: 30vh;
  }
  #caption{
    height: 5vh;
    color: white;
    font-size: 1.5vh;
    margin-bottom: 1em;
    padding-bottom: 0;
  }
  #h3{
    font-size: 2vh;
  }
  .container{
    width: 375px;
    display: block;
  }
  #modalButton{
    font-size: 12px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  #modal{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
  }
  /* for the Services.js page */
  #containerLeft, #containerRight{
    display:flex;
    flex-wrap: wrap;
    margin: 3vw;
    border: 1px black solid;
    padding: 2vw;
  }
  #displayImages{
    width: 40%;
    margin: 10px;
  }
  #rightDiv{
    padding-left: 0;
  }
}
@media(min-width: 540px) and ( max-width: 1065px) and (orientation: portrait){
  .container{
    width: 375px;
    display: block;
  }
  #images{
    height: 50vh;
  }
  #carouselImages{
    height: 50vh;
  }
  #caption{
    height: 5vh;
    color: black;
    font-size: 1.5vh;
  }
  #h3{
    font-size: 2vh;
  }
}
@media(min-width: 540px) and ( max-width: 1065px) and (orientation: landscape){
  #images{
    height: 100vh;
  }
  #carouselImages{
    height: 100vh;
  }
}
@media(min-width: 1065px){
  .container{
    padding-left: 10vw;
    border: 8px inset rgba(201, 201, 201, 0.851);
  }
  #caption{
    height: 10vh;
    color: black;
    font-size: 1.5vh;
  }
  #h3{
    font-size: 2vh;
  }
  #containerLeft{
    display: grid;
    grid-template-columns: 25% 73%;
  }
  #containerRight{
    display: grid;
    grid-template-columns: 73% 25%;
  }
  #rightDiv, #display{
    display: grid;
    grid-template-rows: 45% 50%;
  }
  #displayImages{
    margin-left: auto;
    margin-right: auto;
  }
}
