@import "~bootstrap/scss/bootstrap";

#heading{
  font-size: 25px;
}
#carouselImages{
  height: 600px;
}
#header{
  height: 100%;
  top: 0;
  position: sticky;
  z-index: 9999;
}
#videoSection{
  margin: 0 20px;
  display: grid;
  grid-template-columns: 60% 40%;
  p{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
  iframe{
    margin-left: auto;
    margin-right: auto;
  }
}
// #images{
//   height: 65vh;
// }
#carousel{
  background-color: rgba(169, 169, 169, 0.13);
}
a{
  color: blue;
}
#logo{
  width: 50px;
  margin-right: 2vw;
  border-radius: 5px;
}
#logo2{
  width: 20px;
  margin-right: 1vw;
  border-radius: 2px;
}  
#logo3{
  width: 60px;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  margin-bottom: 25px;
  // margin-top: 0;
}
#images{
  height: 110vh;
}
#carouselImages{
  height: 90vh;
}
#h3, #p{
  color: white;
}