@use 'components/Theme.scss' as theme;
@import "~bootstrap/scss/bootstrap";

body{
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: theme.$theme-background;
}
#heading{
  font-size: 25px;
}
#header {
  top: 0;
  position: sticky;
  z-index: 9999;
  background-color: theme.$theme-primary;
}
#videoSection{
  margin: 0 20px;
  display: grid;
  grid-template-columns: 60% 40%;
  p{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
  iframe{
    margin-left: auto;
    margin-right: auto;
  }
}
#carousel{
  background-color: theme.$theme-background ;
}
a{
  color: theme.$theme-accent;
}
#logo {
  height: 90px;
  width: auto;
  margin-right: 20px;
}
#logo2 {
  height: 55px;
  width: auto;
  background-color: transparent;
  margin-right: 10px;
} 
#logo3{
  width: 60px;
  background-color: theme.$theme-secondary;
  border-radius: 10px;
  margin-bottom: 25px;
}
#carouselImages{
  height: 55vh;
  // width: 100%;
  // object-fit: cover;
}
#images{
  width: 100%;
  height: 100%;
  object-fit: contain;
} 
#h3, #p{
  color: theme.$theme-background;
}
// #caption{
//   background-color: rgba(0, 0, 0, 0.735);
// }
#carouselSection {
  padding-top: 20px;
  padding-bottom: 20px;
}